/* 
CSS Stylesheet
---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------
*/
* { padding: 0; margin: 0; }
/*--------------------------------------------
Style Switcher
---------------------------------------------*/
div#theme_colors {
	position: fixed;
	left: 30px;
	top: 30px;
	z-index: 3;
	padding: 6px 5px 6px 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #333;
	text-align: center;
}
	div#theme_colors .color_picker { width: 112px; padding: 4px 0px 4px 0px; }
	div#theme_colors strong{ 
		color: #fff; 
		font-size: 10px; 
		font-weight: bold; 
		margin-bottom: 8px; 
		display: block; 
		cursor: pointer; 
	}
	div#theme_colors span.preview { 
		color: #999; 
		text-transform: lowercase; 
		font-size: 10px; 
		font-weight: normal;
	}
div#theme_colors ul {
	list-style: none;
	margin-left: 8px;
}
	div#theme_colors ul li {
		float: left;
		margin: 0px 0px 10px 0px;
		cursor: pointer;
	}
		div#theme_colors ul li span{ 
			display: block; 
			width: 20px; 
			height: 20px; 
			border: 3px solid #444; 
			border-right: none; 
			float: left; 
		}
	div#theme_colors ul li .second { border-left: none; border-right: 3px solid #444; margin-right: 5px; }
	div#theme_colors ul li .blue { background-color: #2468AC;  }
	div#theme_colors ul li .green { background-color: #55AD6D; }
	div#theme_colors ul li .teal { background-color: #027593;  }
	div#theme_colors ul li .orange { background-color: #dd7639; }
	div#theme_colors ul li .red { background-color: #a71319;  }
	div#theme_colors ul li .yellow { background-color: #e6b641; }
	div#theme_colors ul li .pink { background-color: #b33e68;  }
	div#theme_colors ul li .tan { background-color: #b19c88; }
/*--------------------------------------------
Global Elements
---------------------------------------------*/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #707070;
	background: #ebebeb;
}
div.page {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
div#header {
	background: url('../../images/event_images/header_bg.gif') repeat-x top;
	height: 150px;
}
	div#header a.logo{ 
		float: left; 
		margin-top: 30px; 
		background-repeat: no-repeat;
		background-position: top;
		background-size: 225px 75px;
		width: 225px;
		height: 75px;
		text-indent: -999999px;
	}
	div#header ul {
		list-style: none;
		float: right;
		margin-top: 48px;
	}
		div#header ul li {
			height: 60px;
			float: left;
			margin-left: 0px;
			padding: 0px 0px 0px 16px;
		}
			div#header ul li a {
				color: #555555;
				font-size: 13px;
				text-decoration: none;
				display: block;
				font-weight: bold;
				padding: 4px 10px 4px 10px;
			}
			div#header ul li a:hover { color: #333; }
			div#header li.active a{ background: #dddddd; color: #000; }
div#page {
	width: 980px;
	margin: 0 auto;
	margin-top: -33px;
}
	div#page .header{ 
		background: url('../../images/event_images/page_header.gif') repeat-x top;
		height: 60px;
	}
		div#page .header h1{ padding-left: 30px; padding-top: 5px; }
		div#page .header ul { list-style: none; float: right; margin-top: -30px; margin-right: 10px; }
			div#page .header ul li {
				float: left;
				margin-right: 20px;
				height: 30px;
				display: block;
			}
			div#page .header ul li.active {
				background: url('../../images/event_images/sub_menu-left.png') no-repeat top left;
			}
				div#page .header ul li a {
					font-size: 14px;
					font-weight: bold;
					text-decoration: none;
					color: #8b8c8b;
					display: block;
					padding: 6px 20px 0px 20px;
					height: 30px;
				}
				div#page .header ul li.active a {
					color: #464646;
					background: url('../../images/event_images/sub_menu-right.png') no-repeat top right;
				}
				div#page .header ul li a:hover {
					color: #555;
				}
	div#page .header_home{ 
		background: url('../../images/event_images/home_header.gif') repeat-x bottom;
		height: 320px;
		position: relative;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		top: -16px;
	}	
		div#page .header .price_tag{ 
			width: 130px;
			height: 130px;
			position: absolute;
			top: -55px;
			right: -35px;
		}
		div#page .header_home img.main_screenshot{ 
			float: left;
			padding: 20px 0px 0px 35px;
		}
		div#page .header_home .info {
			width: 450px;
			float: right;
			margin: 25px 50px 0px 0px;
		}
			div#page .header_home .info h1 { padding: 0; margin-bottom: 15px; font-size: 30px; color: #363636; }
			div#page .header_home .info p{ font-size: 13px; color: #363636; margin-bottom: 30px; }
			div#page .header_home .info .trial { font-size: 11px; color: #7d7d7d; margin-left: 12px; }
	div#page .top {
		background: url('../../images/event_images/page_top.gif') no-repeat top;
		height: 23px;
	}
	div#page .content {
		background: url('../../images/event_images/page_middle.gif') repeat-y top;
	}
		div#page .content .padding {
			padding: 25px 45px 25px 45px;
		}
		div#page .left {
			width: 600px;
			float: left;
		}
		div#page .right {
			width: 245px;
			float: right;
		}
	div#page .bottom {
		background: url('../../images/event_images/page_bottom.gif') no-repeat bottom;
		height: 23px;	
	}
	div#page .section_title {
		width: 240px;
		height: 56px;
		margin-left: -46px;
		margin-bottom: 10px;
		margin-top: 30px;
	}
		div#page .section_title h3{
			font-size: 15px;
			color: #fff;
			padding: 5px 0px 0px 45px;
		}
div#footer {
	margin-top: 5px;
	padding-bottom: 30px;
}
	div#footer p { float: left; color: #888; }
	div#footer ul { list-style: none; float: right; }
	div#footer ul li { float: left; }
	div#footer ul li a {
		margin-left: 20px;
		color: #707070;
		text-decoration: none;
	}
		div#footer ul li a:hover { color: #333; }
/*--------------------------------------------
Sidebar
---------------------------------------------*/
div.sidebar_box {
	background: #e9eae9;
	padding: 15px 20px 10px 20px;
	margin-bottom: 20px;
}
	div.sidebar_box h4 { 
		font-size: 13px; 
		color: #444; 
		font-weight: bold; 
		margin-bottom: 5px;
	}
	div.sidebar_box p { 
		font-size: 12px; 
		color: #707070; 
		line-height: 18px; 
		margin-bottom: 0;
	}
	div.sidebar_box ul { list-style: circle; padding-left: 16px; margin-top: 10px; }
		div.sidebar_box ul li { margin-bottom: 5px; }
	div.sidebar_box a.rss { 
		background: url('../../images/event_images/icons/rss.png') no-repeat top left;
		padding-left: 22px;
		text-decoration: none;
		color: #444;
		font-weight: bold;
		display: block;
		margin-bottom: 5px;
	}
	div.sidebar_box .text_field { width: 185px; padding: 8px; margin-bottom: 10px; }

/*--------------------------------------------
HTML Elements
---------------------------------------------*/
div#html_elements h1, h2, h3, h4, h5, h6 { margin-bottom: 5px; }
div#page div#html_elements p { margin-bottom: 25px; }
/*--------------------------------------------
Typography
---------------------------------------------*/
h1 {
	font-size: 26px;
	font-weight: normal;
	color: #5f5f5f;
	letter-spacing: -0.02em;
	word-wrap: break-word;
}
h2 {
	font-size: 23px;
	color: #707070;
	font-weight: normal;
	word-wrap: break-word;
}
h3 {
	font-size: 20px;
	color: #363636;
	font-weight: normal;
	word-wrap: break-word;
}
h4 {
	font-size: 19px;
	color: #252525;
	font-weight: normal;
	word-wrap: break-word;
}
h5 {
	font-size: 17px;
	color: #888;
	font-weight: normal;
	margin-bottom: 5px;
	word-wrap: break-word;
}
h6 {
	font-size: 15px;
	color: #999;
	font-weight: normal;
	margin-bottom: 5px;
	word-wrap: break-word;
}
p {
	word-wrap: break-word;
}
b { color: #444; }
span.highlight_dark { color: #fff; background: #555; padding: 2px 6px; }
span.highlight_light { background: #ffffc8; padding: 2px 6px; }
div#page p {
	margin-bottom: 15px;
	line-height: 22px;
}
div.wrap_image_left,
div.wrap_image_right {
	background: url('../../images/event_images/about_img_bg.gif') no-repeat top;
	width: 317px;
	height: 187px;
}
div.wrap_image_left {
	float: left;
	margin: 0px 15px 0px 0px;
}
div.wrap_image_right {
	float: right;
	margin: 0px 0px 0px 15px;
}
	div.wrap_image_left img,
	div.wrap_image_right img{
		padding: 12px 0px 0px 12px;
	}
/*--------------------------------------------
Forms
---------------------------------------------*/
form .text_field{
	padding: 10px;
	border: 1px solid #d6d6d6;
	background: #fff url('../../images/event_images/tf_bg.gif') repeat-x top;
	font-size: 13px;
	font-style: italic;
	color: #999;
}
form .text_field:disabled{
	background: #f2f2f2 url('../../images/event_images/tf_bg_disabled.gif') repeat-x top;
}
form .default_text_active {
	font-style: normal;
	color: #777;
}
form p {
	float: left;
	margin: 0;
	margin-right: 50px;
}
	form p.last { margin-right: 0; }
	form p.message { margin-top: 20px; float: none; }
	p.validation { font-weight: bold; }
	p.error { color: #DD3030; font-weight: bold; }
form label {
	display: block;
	color: #555555;
	font-size: 15px;
	margin-bottom: 5px;
}
form input.text_field,
form select { width: 248px; }
form textarea { width: 870px; height: 200px; font-size: 13px; }
form .send_form {
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
}
/*--------------------------------------------
Buttons
---------------------------------------------*/
a.button {
	padding: 8px 15px 10px 0px;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	position: relative;
}
	a.button span{
		padding: 8px 5px 10px 20px;
	}	
	a.icon span{ padding-left: 40px; }
	a.button img{ position: absolute; top: 6px; left: 11px; }
/*--------------------------------------------
Utility
---------------------------------------------*/
.clear { clear:both; }
img { border: none; }
a { outline: none; }
a:hover { text-decoration: none; }
hr {
	border: none;
	background: #ccc;
	color: #ccc;
	width: 100%;
	height: 1px;
	margin: 20px 0px 20px 0px;
}

/*--------------------------------------------
Events
---------------------------------------------*/
div#events {}
	div#events .post {
		background: url('../../images/event_images/hr.gif') repeat-x bottom;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	div#events span.meta {
		display: block;
		margin: 5px 0px 5px 0px;
		color: #999;
	}
	div#events .event_img {
		width: 621px;
		height: 184px;
		background: url('../../images/event_images/blog_img_bg.gif') no-repeat top;
		margin-left: -15px;
	}
		div#events .event_img img{ padding: 17px 0px 0px 19px; }
	div#events .content {
		margin-bottom: 25px;
		margin-top: 10px;
	}
	div#events .read_more { float: right; margin-top: -10px; }
	div#events a.comments {
		background: url('../../images/event_images/icons/comment.png') no-repeat top left;
		padding-left: 22px;
		float: left;
		font-size: 12px;
	}
	#carouselViewDiv {
		padding: 0px;
		width: auto;
		height: auto;
	}
	#carouselViewDiv img{
		width: 960px !important;
		height: 320px !important;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.flavor_2 .agile_carousel {
		-moz-border-radius: 15px;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
/*--------------------------------------------
Event
---------------------------------------------*/
div#screenshots { position: relative; padding-bottom: 25px; }
div#screenshots .scrollable {
	position:relative;
	overflow:hidden;
	width: 900px;
	height:110px;
}
div#screenshots .scrollable .items {
	width:20000em;
	position:absolute;
}
div#screenshots a.controls {
	display: block;
	width: 17px;
	height: 31px;
	text-indent: -999999px;
	background: url('../../images/event_images/slide-controls.gif') no-repeat top;
}
	div#screenshots a.prev {
		background-position: top left;
		position: absolute;
		top: 100px;
		left: -50px;
	}
	div#screenshots a.next {
		background-position: top right;
		position: absolute;
		top: 100px;
		right: -50px;
	}
div#screenshots .items ul{ list-style: none; float: left; }
	div#screenshots .items ul li {
		float:left;
		background: url('../../images/event_images/screenshot_bg.gif') no-repeat top left;
		width: 155px;
		height: 110px;
		margin-right: 25px;
	}		
		div#screenshots .items ul li a{
			width: 145px;
			height: 100px;
			overflow: hidden;
			display: block;
		}
		div#screenshots ul li img {
			padding: 10px 0px 0px 10px;
			/*height: auto !important;
			max-height: 90px;
			max-width: 135px;
			width: auto !important;*/
			height: 90px;
			width: 135px;
		}
div#errorMessage div.ui-state-error.ui-corner-all{
	padding: 0px 7px;
}
div#errorMessage p{
	margin: 11px 0px;
	line-height: normal;
}

div#tickets_table {
	margin-bottom: 30px;
	float: left;
}
div#tickets_table table {
	border: 1px solid #d3d4d3;
	text-align: center;
} 

div#tickets_table table thead{
	background: #ededed url('../../images/event_images/table_header.gif') repeat-x bottom;
}

div#tickets_table table thead td {
	padding: 15px 0px 15px 0px;
	width: 250px;
	border-right: 1px solid #d3d3d3;
}

div#tickets_table table td.last { 
	border-right: none; 
}

div#tickets_table table thead td h2 {
	color: #000000;
	font-size: 21px;
	margin-bottom: 12px;
	font-weight: bold;
}

div#tickets_table tbody td {
	font-size: 14px;
	color: #555555;
	padding: 12px 0px 12px 0px;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #e6e6e6;
}

div#tickets_table tbody tr.color td { background: #eee; }
div#tickets_table td.hidden {
	display: none;
}
div#tickets_table td.td-left {
	text-align: left;
	padding-left: 25px;
}	
div#event-date-time {
	text-align: left;
	float: left;
	display: none;
}
#event-date-time #date_div{
	display: none;
	float: left;
}
#event-date-time #time_div{
	display: none;
	float: left;
	margin-left: 15px;
}
#event_date {
	width: 168px;
	padding: 5px;
	border: 1px solid #d6d6d6;
	background: #fff url('../../images/event_images/tf_bg.gif') repeat-x top;
	color: #707070;
}
#event_time {
	width: 160px;
	padding: 5px;
	border: 1px solid #d6d6d6;
	color: #707070;
	background: none;
}
#event_time:disabled {
	background-color: #F2F2F2;
}
		
div#eventDetails {}
	div#eventDetails .panel {
		width: 100%;
		-moz-box-shadow: 0 3px 3px #ccc;
		-webkit-box-shadow: 0 3px 3px #ccc;
		box-shadow: 0 3px 3px #ccc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
		div#eventDetails .panel_head {
			width: auto;
			background-color: #E9E9E9;
			border-color: #D5D5D3;
			border-style: solid;
			border-width: 1px 1px 0;
			padding: 6px 11px 7px 14px;
			-moz-border-radius: 5px 5px 0 0;
			-webkit-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
		}
		div#eventDetails .panel_head h4{
			font-size: 16px;
			margin: 2px 0 0;
		}
		div#eventDetails .panel_body {
			width: auto;
			border-color: #D5D5D3;
			border-style: solid;
			border-width: 1px;
			padding: 13px 14px;
			word-wrap: break-word;
			-moz-border-radius: 0 0 5px 5px;
			-webkit-border-radius: 0 0 5px 5px;
			border-radius: 0 0 5px 5px;
			min-height: 0;
		}

div#eventLocation {}
	div#eventLocation div#mapDiv{
		border: 1px solid #D5D5D3;
		height: 500px;
		width: 100%;
		-moz-box-shadow: 0 3px 3px #ccc;
		-webkit-box-shadow: 0 3px 3px #ccc;
		box-shadow: 0 3px 3px #ccc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
		div#eventLocation div#mapDiv div.separator {
			margin: 10px 0px;
			border-top: solid 1px #6D84B4;
			border-bottom: solid 1px #A6C9E2;
			clear: both;
		}
		div#eventLocation div#mapDiv ul.moreOptions {
				list-style: none;
				padding: 0px;
				margin: 0px;
		}
			div#eventLocation div#mapDiv ul.moreOptions li {
				display: inline;
				margin: 0px;
			}
			div#eventLocation div#mapDiv ul.moreOptions li a {
				padding: 5px 5px;
				color: #000;
				text-decoration: none;
				display: block;
			}
			div#eventLocation div#mapDiv ul.moreOptions li a:hover {
				padding: 4px 4px;
				background-color: #DFE6F5;
				border: 1px solid #A2C1FA;
				border-radius:2px;
				display: block;
			}
	#distance_div {
        background: #fff;
        padding: 5px;
        font-size: 14px;
        font-family: Arial;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        display: none;
        max-width: 50%;
    }
    #closeDistance {
    	float: right;
    	position: relative;
    	color: #707070;
    	cursor: pointer;
    	font-weight: bold;
    	margin: 0 5px 10px 10px;
    	opacity: 0.7;
    }
    #closeDistance:hover {
    	opacity: 1;
    }
		
/*--------------------------------------------
Register
---------------------------------------------*/
div#register { }
	div#register h2 {
		font-size: 14px;
		font-weight: bold;
		background: url('../../images/event_images/hr.gif') repeat-x 0px 10px;
		margin-bottom: 15px;
	}
		div#register h2 span {
			background: #F8F9F8;
			color: #333;
		}
		div#register h2 span.header_left {
			padding-right: 12px;
		}
		div#register h2 span.header_right {
			padding-left: 12px;
			float: right;
		}
	div#register form label {
		display: block;
		float: left;
		width: 85px;
		padding-right: 30px;
		padding-top: 4px;
		text-align: right;
		font-size: 12px;
	}
		div#register form label.error {
			float: none; 
			display: block;
			margin-left: 10px;
			color: #DD3030;
			position: relative;
			top: -2px;
			left: 105px;
			width: 100%;
			text-align: left;
		}
	div#register form .text_field {
		padding: 6px;
	}
	div#register form .card_type select{ float: left; }
	div#register img.card_types { float: left; margin-left: 10px; margin-top: -3px; }
	div#register .margin { padding: 15px 0px 15px 0px; }
	
	div#register #paymentTypes {
		margin-bottom: 10px;
	}
	div#register div.table {
		display: table;
	}
	div#register div.row {
		display: table-row;
		clear: both;
		width: auto;
	}
	div#register div.cell {
		padding-right: 25px;
		display: table-cell;
		width: auto;
		text-align: center;
		vertical-align: middle;
	}
	div#register div.cell img {
		cursor: pointer;
	}
	div#register div.cell.title {
		font-weight: bold;
	}

/*--------------------------------------------
Payment
---------------------------------------------*/
#countdown_timer_notification {
    background-color: #fff9d7;
    border: 1px solid #e2c822;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 20px;
    color: #555;
}
#countdown_timer_notification span#time_left {
	font-size: 25px;
}

/*--------------------------------------------
About
---------------------------------------------*/
div#page div#about p { line-height: 24px; }
div#about .team {
	width: 415px;
	margin-bottom: 20px;
}
	div#about .team h3 { font-size: 18px; }
		div#about .team h3 span { color: #aaa; }
	div#about .member_left { float: left; }
	div#about .member_right { float: right; }
	div#page div#about .team p{ line-height: 21px; font-size: 12px; }
	div#about .team img{
		float: left;
		margin-right: 15px;
		margin-top: 5px;
	}
	div#about .team ul{ list-style: none; }
		div#about .team ul li {
			float: left;
			margin-right: 10px;
		}
			div#about .team ul li a {
				text-decoration: none;
				background: #ddd;
				padding: 3px 8px 3px 8px;
				font-size: 12px;
			}
				div#about .team ul li a:hover { background: #ccc; }

/*--------------------------------------------
tumblrBlog
---------------------------------------------*/
div#tumblrBlog {}
	div#tumblrBlog a {
		text-decoration: none;
	}
	div#tumblrBlog a:hover {
		text-decoration: underline;
	}
	div#tumblrBlog .post {
		margin-bottom: -60px;
	}
	div#tumblrBlog .post .post-content {
		width: auto;
		padding: 20px;
		-moz-box-shadow: 0 3px 3px #ccc;
		-webkit-box-shadow: 0 3px 3px #ccc;
		box-shadow: 0 3px 3px #ccc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border-color: #D5D5D3;
		border-style: solid;
		border-width: 1px;
		word-wrap: break-word;
		min-height: 0;
		position: relative;
		top: -60px;
	}
		div#tumblrBlog .post.text div.post-icon {
			background: url('../../images/event_images/blog_posts/text-post.png') no-repeat;
		}
		div#tumblrBlog .post.photo div.post-icon {
			background: url('../../images/event_images/blog_posts/photo-post.png') no-repeat;
		}
		div#tumblrBlog .post.photoset div.post-icon {
			background: url('../../images/event_images/blog_posts/photo-post.png') no-repeat;
		}
		div#tumblrBlog .post.quote div.post-icon {
			background: url('../../images/event_images/blog_posts/quote-post.png') no-repeat;
		}
		div#tumblrBlog .post.link div.post-icon {
			background: url('../../images/event_images/blog_posts/link-post.png') no-repeat;
		}
		div#tumblrBlog .post.chat div.post-icon {
			background: url('../../images/event_images/blog_posts/chat-post.png') no-repeat;
		}
		div#tumblrBlog .post.video div.post-icon {
			background: url('../../images/event_images/blog_posts/video-post.png') no-repeat;
		}
		div#tumblrBlog .post.audio div.post-icon {
			background: url('../../images/event_images/blog_posts/audio-post.png') no-repeat;
		}
		div#tumblrBlog div.post-icon {
			width: 60px;
			height: 60px;
			float: none;
			position: relative;
			top: -30px;
			right: -566px;
			z-index: 1000;
		}
	div#tumblrBlog span.meta {
		display: block;
		margin: 5px 0px 5px 0px;
		color: #999;
	}
	div#tumblrBlog .post .post-date {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		box-shadow: 0 2px 3px rgba(0,0,0,.3);
		-moz-box-shadow: 0 2px 3px rgba(0,0,0,.3);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
		text-align: center;
		margin: 0px;
		width: 55px;
		float: left;
		position: relative;
		top: 10px;
		left: -65px;
		z-index: 1000;
	}
	div#tumblrBlog .post .post-date .month {
		background: #982B2F;
		border-left: 1px #982B2F solid;
		border-right: 1px #982B2F solid;
		border-top: 1px #982B2F solid;
		border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-webkit-border-top-right-radius: 5px;
		border-bottom-right-radius: 1px;
		-moz-border-radius-bottomright: 1px;
		-webkit-border-bottom-right-radius: 1px;
		border-bottom-left-radius: 1px;
		-moz-border-radius-bottomleft: 1px;
		-webkit-border-bottom-left-radius: 1px;
		box-shadow: 0 14px 7px -7px rgba(175,68,72,1) inset;
		-moz-box-shadow: 0 14px 7px -7px rgba(175,68,72,1) inset;
		-webkit-box-shadow: 0 14px 7px -7px rgba(175,68,72,1) inset;
		color: white;
		display: block;
		font-size: 12px;
		font-weight: bold;
		text-shadow: #982B2F 0 0 1px;
		text-transform: uppercase;
		position: relative;
		padding: 3px 0;
	}
	div#tumblrBlog .post .post-date .day {
		background: #EEE;
		border-bottom: 1px solid #BBB;
		border-left: 1px solid #BBB;
		border-right: 1px solid #BBB;
		border-bottom-right-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
		color: #484848;
		display: block;
		font-size: 24px;
		padding: 4px 0;
	}
	div#tumblrBlog .post .white-shadow, div#tumblrBlog .post .cufon-white-shadow {
		text-shadow: white 0 1px;
	}
	div#tumblrBlog .post .tags {
		background: url('../../images/event_images/hr.gif') repeat-x top;
		clear: both;
		margin-top: 5px;
		padding-top: 5px;
	}
	div#tumblrBlog .archive {
		background: url('../../images/event_images/icons/archive_grey.png') no-repeat top left;
		padding-left: 22px;
		text-decoration: none;
		color: #444;
		font-weight: bold;
		display: block;
		margin-bottom: 5px;
	}
	div#tumblrBlog #postNavigation {
		margin: 0px 25px;
		padding: 15px 0px 10px 0px;
		font-size: 14px;
		text-align: center;
		background: url('../../images/event_images/hr.gif') repeat-x top;
	}
	div#tumblrBlog .search_box {
		background: #e9eae9;
		padding: 15px 20px 10px 20px;
		margin-bottom: 20px;
	}
	div#tumblrBlog #search-input {
		width: 120px;
		padding: 8px;
		margin: 0;
		margin-bottom: 10px;
		border: 1px solid #d6d6d6;
		background: #fff url('../../images/event_images/tf_bg.gif') repeat-x top;
		font-size: 13px;
		font-style: italic;
		color: #999;
		-moz-border-radius: 8px 0px 0px 8px;
		-webkit-border-radius: 8px 0px 0px 8px;
		border-radius: 8px 0px 0px 8px;
	}
	div#tumblrBlog #search-submit {
		border: 1px solid #d6d6d6;
		padding: 8px;
		margin: 0;
		margin-bottom: 10px;
		font-size: 13px;
		color: #fff;
		text-shadow: black 0px 0px 2px;
		font-weight: bold;
		-moz-border-radius: 0px 8px 8px 0px;
		-webkit-border-radius: 0px 8px 8px 0px;
		border-radius: 0px 8px 8px 0px;
		position: relative;
		right: 5px;
		/* IE10 */ 
		background-image: -ms-linear-gradient(top, #4A975F 0%, #67B37C 50%, #4A975F 100%);
		
		/* Mozilla Firefox */ 
		background-image: -moz-linear-gradient(top, #4A975F 0%, #67B37C 50%, #4A975F 100%);
		
		/* Opera */ 
		background-image: -o-linear-gradient(top, #4A975F 0%, #67B37C 50%, #4A975F 100%);
		
		/* Webkit (Safari/Chrome 10) */ 
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4A975F), color-stop(0.5, #67B37C), color-stop(1, #4A975F));
		
		/* Webkit (Chrome 11+) */ 
		background-image: -webkit-linear-gradient(top, #4A975F 0%, #67B37C 50%, #4A975F 100%);
		
		/* Proposed W3C Markup */ 
		background-image: linear-gradient(top, #4A975F 0%, #67B37C 50%, #4A975F 100%);
	}
	
	