a { color: #53AA6B; }
div#page .section_title {
	background: url('../../images/event_images/themes/section_title.gif') no-repeat top;
}
a.button {
	background: url('../../images/event_images/themes/button_right.png') no-repeat top right;
}
	a.button span{
		background: url('../../images/event_images/themes/button_left.png') no-repeat top left;
	}