#calendarType {
	width: 310px;
}
#tourismPropertiesGridDiv, #tourismFeaturesGridDiv, #tourismPricingGridDiv, #tourismCalendarGridDiv, #categoryFeaturesGrid, #categoryVariationsGrid {
	border: 1px solid #A6C9E2;
	border-top: 0px;
}
#productStartDatefeatured, #productStopDatefeatured {
	width: 200px;
}
#validityPeriodfeatured {
	width: 200px;
}

/***** POI *****/
#mapDiv{
	border: 1px solid #A6C9E2;
	height: 390px;
	width: 100%;
}
.poiAddressReadOnly{
	background-color: #F2F2F2;
}
#creatPoiDiv input#poiName, #creatPoiDiv input#poiAdress {
	width: 500px;
}
#creatPoiDiv textarea#poiDescription {
	width: 500px;
	height: 100px;
	max-height: 200px;
	resize: vertical;
	border-top: 2px outset #9A9A9A;
	border-left: 2px outset #9A9A9A;
	border-bottom: 2px inset #EEEEEE;
	border-right: 2px inset #EEEEEE;
}

/***** end POI *****/

div.createProduct-large {
	float:left;
	width:450px;
}
div.createProduct-small {
	float:left;
	width:250px;
}
div.createProduct-large input[type ="text"] {
	width:95%;
}
div.createProduct-small input[type ="text"] {
	width:95%;
}

/*--------------------------------------------------*/

div.general-large {
	float:left;
	width:470px;
}
div.general-small {
	float:left;
	width:240px;
}
div.general-large input[type ="text"] {
	width:95%;
}
div.general-large input[type ="checkbox"] {
	width:15px;
}
div.general-small select {
	width:240px;
    height: 24px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
div.general-small select#productBrand {
    width:234px;
}
div.general-large select {
	width:450px;
    height: 24px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
div.general-large select#productCategories {
    width:444px;
}
div.general-small input {
	width:236px;
}
#drop-area {
	border: 1px solid #ddd;
	min-height:50px;
	margin-top:10px;
	padding:5px;
}
#files-upload {
	height: auto;
}
#productDescriptionTextDiv {
	font: 10pt Arial,Verdana;
	border: 1px solid #CCC;
	background-color:#FFF;
	color:#000;
	padding: 3px;
	cursor: text;
	height: 250px;
	width: 450px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: auto;
}

.productCategoriesComboTree{
    max-height: 250px;
    overflow: auto;
}

.productCategoriesComboTree::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.productCategoriesComboTree::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.productCategoriesComboTree::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(72, 75, 79, 0.4);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

/*--------------------------------------------------*/
div.properties-large {
    float: left;
    width: 250px;
}

div.properties-large input {
    width: 241px;
}

div.pricing-small {
	float:left;
	width:170px;
}

div.pricing-full {
	float:left;
	width:680px;
}

div.pricing-large {
	float:left;
	width:340px;
}

div.pricing-small select {
	float:left;
	width:159px;
}

div.pricing-large select {
	width:335px;
}

div.pricing-small input {
	width:161px;
}

div.pricing-large input {
	width:331px;
}

div.pricing-small input[type ="checkbox"] {
	width:5%;
}

div.pricing-large input[type ="checkbox"] {
	width:5%;
}

div.features-small {
	float:left;
	width:170px;
}

div.features-small input {
	width:161px;
}

div.features-small textarea {
	width:161px;
	height:161px;
}

div.features-large {
	float: left;
	width: 250px;
}

div.features-large input {
	width: 241px;
}

div.features-large textarea {
	width: 241px;
	height: 161px;
}

div.variations-small {
	float:left;
	width:170px;
}

div.variations-small input {
	width:161px;
}

div.variations-small textarea {
	width:161px;
	height:161px;
}

div.variations-large {
	float: left;
	width: 250px;
}

div.variations-large input {
	width: 241px;
}

div.variations-large textarea {
	width: 241px;
	height: 161px;
}

div.variations-full {
	float: left;
	width: 500px;
}

div.variations-full input {
	width: 491px;
}

div.variations-full .tagsinput input {
	width: 100px;
}

div.variations-full textarea {
	width: 491px;
	height: 161px;
}

div.catalog-medium {
    float: left;
    width: 33%;
}

div.catalog-large {
	float: left;
	width: 50%;
}

div.catalog-large input[type=text] {
	width: 96%;
}

div.catalog-medium button{
    float: left;
}

div.catalog-full {
	float: left;
	width: 100%;
}

div.catalog-full input {
	width: 98%;
}

div.catalog-full textarea {
	width: 98%;
	height: 60px;
	resize: none;
}
/*--------------------------------------------------*/

div.suggestions-large {
	float:left;
	width:200px;	
}
div.suggestions-medium {
	float:left;
	width:180px;	
}
div.suggestions-small {
	float: left;
	width: 75px;
	padding-top: 5px;
}
div.suggestions-large select{
	width:190px;
}
#tourismSuggestionsDiscount {
	width: 220px;
}
#tourismSuggestionsGrid {
	border: 1px solid #A6C9E2;
	border-top: 0px;
	height:360px;
}

#multiselectfilter_searchInput {
	width: 210px;
	border: 0px;
}

div.product-shipping{
    width: 360px;
    float: left;
}

div.product-shipping input{
    width: 350px;
}

div.product-shipping select{
    width: 348px;
}

/*--------------------------------------------------*/

hr.spacer {
  border: 0px !important;
  padding:20px;
  width: 80%;
}

/*#productDescription {
	width:95%;
	height:280px;
	max-width:400px;
	max-height:100px;
	min-width:95%;
	min-height:280px;
	vertical-align:top;
}*/

#editResBtn{
	padding-top:10px;
	padding-right:5px;
	padding-bottom:20px;
}

.DDpanel {float:left;width:300px;margin:20px;}

.DDpanel ul {
    border:1px solid #999;
    padding-top:5px;
    padding-left:25px;
    min-height:150px;
    max-height:300px;
    overflow:auto;
    width:280px;
}

.dds_selected {
    background:#ffc;
}
.dds_ghost {
    opacity:0.5;
}
.dds_move {
    background:#cfc;
}
.dds_hover {
    background:#fc9;
    border:3px dashed #c96;
}

.holder {
    border:3px dashed #333;
    background:#fff;
}
.textInputpic{
	width:300px;
}
	
.DeleteButton {
	float: left;
	text-align: left;
}

.ClassButtonAdd {
	float: right;
	text-align: left;
}
#pic {
    margin: 0px;
    border: 1px solid #8b8989;
    width: 90%;
    height: 116px;
    float: left;
    background-color: white;
    padding: 10px;
}

#pic img {
    max-height: 126px;
    height: auto !important;
    height: 126px;
    max-width: 220px;
    width: auto !important;
    width: 220px;
    /*text-align: center;
    vertical-align: middle;*/
}

.textInputtest{
	width:70px;
}
.textInputtesting{
	width:70%;
}
.buttonsDelete {
    background-color: #AF2A2D;
    border: 1px solid black;
    color: white;
    padding: 2px;
}

.textAreaInput{
	width:90%;
}
.textAreaInputDialog{
	width:90%;
	height:80px;
}
.comboInputTesting{
	width:100%; 
}
.textInputCategory{
	width:300px;
}
.comboInputTest{
	width:20%;
}
.contenttextAreaInputDialog{
	width:90%;
	height:60px;
}
.categoriesMultiSelect{
	width:85%;
}

	
.next{
	float:right;
}

.previous{
	float:left;
}

/* Slick Grid Editor */
.slick-cell .editor-text{
	border: 0px;
	width: 100%;
}

/* User Profile */
#userProfileForm{
    display: none;
}

#userProfileForm .userProfile-large, #profileChangePassword .userProfile-large{
    width: 100%;
}

#userProfileForm .userProfile-large input, #profileChangePassword .userProfile-large input{
    width: 95%;
}

a.miraklCategory{
    padding-left: 20px !important;
    background: url(../../images/mirakl-icon.png) center left no-repeat;
}