@CHARSET "ISO-8859-1";

DIV.bandeau 
{
	display: inline-table;
	height: 40px;
	width: 100%;
	color: white;
	
	background-image: -moz-linear-gradient(top, #ADBDCE, #6B84A5);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ADBDCE), to(#6B84A5));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ADBDCE,endColorstr=#6B84A5);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ADBDCE,endColorstr=#6B84A5)";
}

CENTER.bandeau
{
	display: table-cell;
	vertical-align: middle;
}