.padding15{
	padding:15px;
}

/*--------------------------------------------
Store Screenshots
---------------------------------------------*/
div#screenshots {
	position: relative;
	padding: 10px 0px;
}
div#screenshots .scrollable {
	position:relative;
	overflow:hidden;
	width: 85%;
	/*width: 660px;*/
	height:110px;
	left: 40px;
}
div#screenshots .scrollable .items {
	width:20000em;
	position:absolute;
}
div#screenshots a.controls {
	display: none;
	width: 20px;
	height: 20px;
	text-indent: -999999px;
	-moz-box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 0px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 0px 0px;
	box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 0px 0px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
	div#screenshots a.prev {
		background: url('../../images/fbevent_images/prev.png') no-repeat;
		border: 1px solid #A5A5A5;
		background-position: center center;
		position: absolute;
		top: 45px;
		left: 0px;
	}
	div#screenshots a.prev:hover{
		background: url('../../images/fbevent_images/prev-active.png') no-repeat;
		background-position: center center;
		border: 1px solid #5973AA;
	}
	div#screenshots a.next {
		background: url('../../images/fbevent_images/next.png') no-repeat;
		border: 1px solid #A5A5A5;
		background-position: center center;
		position: absolute;
		top: 45px;
		right: 0px;
	}
	div#screenshots a.next:hover {
		background: url('../../images/fbevent_images/next-active.png') no-repeat;
		background-position: center center;
		border: 1px solid #5973AA;
	}
div#screenshots .items ul{ list-style: none; float: left; }
	div#screenshots .items ul li {
		float:left;
		background: url('../../images/event_images/screenshot_bg.gif') no-repeat top left;
		width: 155px;
		height: 110px;
		margin-right: 10px;
	}		
		div#screenshots .items ul li a{
			width: 145px;
			height: 100px;
			overflow: hidden;
			display: block;
		}
		div#screenshots ul li img {
			padding: 10px 0px 0px 10px;
			/*height: auto !important;
			max-height: 90px;
			max-width: 135px;
			width: auto !important;*/
			height: 90px;
			width: 135px;
		}
		
/** MAP **/
div#mapDiv{
	border: 1px solid #D5D5D3;
	height: 500px;
	width: 100%;
	-moz-box-shadow: 0 3px 3px #ccc;
	-webkit-box-shadow: 0 3px 3px #ccc;
	box-shadow: 0 3px 3px #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div#errorMessage {
	margin: 0px 10px;
}
div#errorMessage div.ui-state-error.ui-corner-all{
	padding: 0px 7px;
}
div#errorMessage p{
	margin: 11px 0px;
	line-height: normal;
}

.mb_18{
	margin-bottom: 18px;
}