<div class="list-group">
	<a href="javascript:void(0)" class="list-group-item" ng-click="goToTwitterTimeline()">
		<table><tbody><tr>
			<td width="47px"><span class="big social twitter"></span></td>
			<td>{{resourceBundle.menu_timeline}}</td>
			<td width="25px"><span class="pull-right halflings" ng-class="{'chevron-right': isAndroid, 'new_window': !isAndroid}"></span></td>
		</tr></tbody></table>
	</a>
	<a href="javascript:void(0)" class="list-group-item" ng-click="goToHotels()">
		<table><tbody><tr>
			<td width="47px"><span class="big glyphicons building"></span></td>
			<td>{{resourceBundle.menu_hotels}}</td>
			<td width="25px"><span class="pull-right halflings new_window"></span></td>
		</tr></tbody></table>
	</a>
	<a href="javascript:void(0)" class="list-group-item" ng-click="navigateToPage('sponsors')">
		<table><tbody><tr>
			<td width="47px"><span class="big glyphicons thumbs_up"></span></td>
			<td>{{resourceBundle.menu_sponsors}}</td>
			<td width="25px"><span class="pull-right halflings chevron-right"></span></td>
		</tr></tbody></table>
	</a>
</div>
<div class="infoTickets center">
	<a href="javascript:void(0);" class="clickable" ng-click="infoBuyTickets()">{{resourceBundle.menu_buyTickets}}</a>
</div>