#inner-content.socialNetwork {
	padding: 10px;
}
#backBtnDiv {
	position: relative;
	top: 15px;
}
div.newline{
	clear: both;
}
div.spacer{
	clear: both;
	padding:5px;
}

div.social_div{
	height: 64px;
}

span.social_span{
	position: relative;
	top:20px;
	float: right;
}

span.social_span form{
	display: none;
	visibility: hidden;
}

a.social_href{
	text-decoration: none;
}

a:visited{
	color: #00E;
}

a.social_href span{
	position: relative;
	bottom:24px;
	font-size: 24px;
}

hr{
	border-style: solid;
	border-color: #F0F0F0;
	margin: 10px 0px;
	clear: both;
}

