<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ebiznext.scalaio" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ScalaIO</name>
    <description>
        Indoor Navigation
    </description>
    <author email="contact@ebiznext.com">
        ebiznext
    </author>
    <content src="index.html" />
    <access origin="*" />
	<preference name="Orientation" value="portrait" />
    <icon src="res/android/icon.png" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <!-- preference name="UIViewControllerBasedStatusBarAppearance" value="false" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="DisallowOverscroll" value="true" / -->
    <platform name="ios">
        <preference name="UIViewControllerBasedStatusBarAppearance" value="false" />
        <preference name="UIStatusBarHidden" value="true" />
    </platform>
</widget>
