.googleMapContextmenu{
	visibility:hidden;
	background:#ffffff;
	padding: 3px;
	white-space: nowrap;
	-moz-transition: opacity 0.218s;
	-o-transition: opacity 0.218s;
	-webkit-transition: opacity 0.218s;
	transition: opacity 0.218s;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	z-index: 1000;
	position: absolute;
	outline: 1px solid rgba(0,0,0,0.2);
}

.googleMapContextmenu a{
	text-decoration: none;
}

.googleMapContextmenu a:hover{
	text-decoration: none;
}

.googleMapContextmenu a div{
	display: block;
	padding: 6px 30px 6px 15px;
	position: relative;
	color: #333;
	font-weight: normal;
	-moz-transition: background 0.130s;
	-o-transition: background 0.130s;
	-webkit-transition: background 0.130s;
	transition: background 0.130s;
	cursor: pointer;
}

.googleMapContextmenu a div:hover{
	background: #F1F1F1;
}

.googleMapContextmenu div.separator{
	border-top: 1px solid #ebebeb;
	margin-top: 9px;
	margin-bottom: 10px;
}